body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
    font-family: var(--font-secondary);
}
/*body content*/
.container {
    padding: 1em;
    margin-bottom: 2em;
}
/*crate item container*/
.crate-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--font-size);
    font-weight: bold;
}
.crate {
    border: 2px solid black;
    padding: 1.2em;
    margin: auto;
    background: #f0f0f0;
    border-radius: 1em;
}
.crate-img {
    width: 15em;
    height: 15em;
    background: gray;
    display: inline-block;
    border-radius: 1em;
}
/*grid of skins*/
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 1em;
    margin-top: 1em;
    max-height: 30em;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-bottom: 2em; /* temp for while red button is an a item */
    max-width: 70%;
    margin-bottom: 3em;
}
/*weapon container*/
.item {
    padding: 2em 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(34, 4, 141);
}

/*open crate/buy crate button*/
.buy-button{
    background-color: #ff0000;
    color:#ffffff;
    padding: 1em 1em;
    border-radius: 1em;
    font-size: 1.5em;
    font-family: var(--font-main);
}

/* all the different rarities as color classes. will be borders for images later*/
.common { border: 2px solid rgb(0, 4, 255); background: #21deff; }
.common:hover{background: #18a6be;}
.uncommon { border: 2px solid rgb(98, 0, 255); background: #a288ff; }
.uncommon:hover{background: #7965c2;}
.rare { border: 2px solid rgb(255, 0, 179); background: #cf6bd3; }
.rare:hover{background: #ab58ad;}
.epic { border: 2px solid rgb(168, 11, 11); background: #eb6262; }
.epic:hover{background: #ca5252;}
.legendary { border: 2px solid gold; background: #ffe57b; }
.legendary:hover{background: #d3bb5a;}
.owned {border: 2px solid rgb(255, 0, 0);}

