:root {
    /*Global Color Palette*/
    --primary-color: #414141;
    --background-gradient: radial-gradient(rgb(110, 84, 84), rgb(14, 14, 14));
    --secondary-color: #dd1b1b;
    --dark-secondary-color: #8d1010;
    --tertiary-color: #3a0404;
    --crate-background: #750404;
    
    /*Font Stuff*/
    --font-main: 'Bebas Neue', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --text-color: white;
    --font-size: 1.6em;
    --button-font-size: 1.2em;
    --spacing: 1em;
}
* {
    box-sizing: border-box;
}
img {
    transition: background 0.3s ease;
}
img:hover{
    transform: scale(1.01);
}
button {
    transition: background 0.3s ease;
}
button:hover{
    transform: scale(1.01);
}
/* header and footer */
header, footer {
    font-family: var(--font-main);
    font-size: var(--font-size);
     background: var(--tertiary-color); 
    color: #EFF1F3;
    padding: .5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 8vh;
}
/* links */
a {
    text-decoration: none;
    color: inherit;
}

/* button styles */
button {
    
    background: var(--secondary-color);
    border: 1px solid #000;
    color: #EFF1F3;
    padding: .3em .4em;
    cursor: pointer;
    border-radius: .5em;
    transition: background 0.3s ease;
}

/*on hover*/
a:hover, button:hover {
    background: var(--dark-secondary-color);
}

/* search bar */
.search-bar {
    padding: 1em;
    flex: 1;
    border-radius: .5em;
    
}

/* logo */
.logo {
    width: 3em;
    height: 3em;
    background: gray;
    display: inline-block;
    border-radius: .5em;
}

/* pop ups */
.popup{
    display: none;
    position: fixed;
    bottom: 5%;
    background: white;
    padding: 1em;
    border: 1px solid black;
    text-wrap: wrap;
    color: var(--secondary-color);
    font-family: var(--font-secondary) !important;
}
.btn-container {
    position: relative;
    display: inline-block;
    padding: 1% 1%;
    font-size: var(--button-font-size);
    font-family: var(--font-main) !important;
}
/*forlater notifivations on trade req*/
.badge {
    position: absolute;
    top: 2%;
    right: 0%;
    background: rgb(255, 0, 0);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: .2em .4em;
    border-radius: 50%;
    min-width: 3em;
    text-align: center;
}

/* Hide badge when no notifications */
.badge.hidden {
    display: none;
}

/*pop up CSS*/
#dropChancePopup {
    left: 5%;
    width: 20em;
}
#tradeRequestPopup{
    right: 5%;
    width: 20em;
}
.popup button {
    margin-top: 1em;
    font-family: var(--font-main);
    font-size: var(--button-font-size);
    padding: 0 1em;
}
.confirm {
    background-color: orange;
}

.confirm:hover {
    background-color: rgb(209, 116, 2);
}
/* footer */
footer {
    position: static;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: .3em;
    flex-wrap: wrap;
    
}

footer button {
    margin: .2em;
    padding: 1% 1%;
    font-size: 1em;
    font-family: var(--font-main) !important;
}

/*footer order*/
#drop {
    order: 1;
}
#copyright {
    order: 2;
}
#trade {
    order: 3;
}
/* logo container */
.home_logo_container {
    align-self: flex-start;
    display: flex;
    padding: 0 1em;
    gap: 1em;
    align-items: center;
}

/* nav and search boxes */
.nav-box, .search-box {
    
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.search-box{
    width: 50%
}
.user-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1em;
    
}

/* profile, crate, logout buttons */
.profile-btn, .crates-btn, .logout-btn, .search-btn {
    padding: .3em .4em;
    margin: .4em;
    border: 1px solid #000;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: .3em;
    transition: background 0.3s ease;
    font-family: var(--font-main);
}

/*if on a smaller device or window*/
@media (max-width: 800px) {
    header, footer {
        flex-direction: column;
        text-align: center;
        
    }
    .profile-btn, .crates-btn {
        width: 20em;
    }
    .nav-box{
        width: 100%;
        gap: 10%;
        flex-direction: row;
        justify-content: center;
    }
    .user-box {
        width: 70%;
    }
    .search-box {
        width: 90%;
    }

    footer {
        flex-direction: row;
        padding: 1em;
    }
    /*logged out page header clean up on smaller display*/
    .logged-out-header>.nav-box,  .logged-out-header .crates-btn{
        order: 2;
        width: 85%;
        margin: 0 auto;
        margin-bottom: .5em;
    }
    .logged-out-header>.user-box, .logged-out-header .logout-btn{
        order: 3;
        width: 80%;
        margin: 0 auto;
    }
    
    #drop, #trade {
        height: 3em;
        width: 20%;
        
    }
    
}
/*if on a really small device*/
@media (max-width: 500px) {
 

    .nav-box {
        
        gap: .3em;
    }

    .search-bar {
        width: 100%;
    }
    .logout-btn, .search-btn {
        padding: .4em .2em;
    }
    .profile-btn, .crates-btn{
        padding: .5em .5em;
    }
    #drop, #trade {
        height: 3em;
        width: 40%;
        
    }
    /*change footer ordering*/
    #drop {
        order: 1;
    }
    #trade {
        order: 2;
    }
    #copyright {
        order: 3;
        margin: 1em auto;
    }
    footer {
        text-align: center;
    }
    
    footer  button {
        width: 35%;
    }

    
    
}
