:root {
    /*Global Color Palette*/
    --primary-color: #414141;
    --secondary-color: #dd1b1b;
    --dark-secondary-color: #8d1010;
    --tertiary-color: #3a0404;
    --crate-background: #750404;
    
    /*Font Stuff*/
    --font-main: 'Bebas Neue', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --text-color: white;
    --font-size: 24px;
    --spacing: 10px;
}
* {
    box-sizing: border-box;
}
/* header and footer */
header, footer {
    font-family: var(--font-main);
    font-size: var(--font-size);
    background: var(--tertiary-color);
    color: #EFF1F3;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 8vh;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
    
}

/* button styles */
button {
    
    background: var(--secondary-color);
    border: 1px solid #000;
    color: #EFF1F3;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

/*on hover*/
a:hover, button:hover {
    background: var(--dark-secondary-color);
}

/* search bar */
.search-bar {
    padding: 12px;
    margin: 10px 0;
    flex: 1;
    max-width: 650px;
    border-radius: 5px;
    
}

/* logo */
.logo {
    width: 60px;
    height: 60px;
    background: gray;
    display: inline-block;
    border-radius: 5px;
}

/* pop ups */
.popup{
    display: none;
    position: fixed;
    bottom: 5%;
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-wrap: wrap;
    color: var(--secondary-color);
    font-family: var(--font-secondary) !important;
}
.btn-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 1% 1%;
    font-size: 20px;
    font-family: var(--font-main) !important;
}
.badge {
    position: absolute;
    top: 2%;
    right: 0%;
    background: rgb(255, 0, 0);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
}

/* Hide badge when no notifications */
.badge.hidden {
    display: none;
}
#dropChancePopup {
    left: 5%;
    width: 300px;
}
#tradeRequestPopup{
    right: 5%;
}
.popup button {
    
    margin-top: 10px;
}
.confirm {
    background-color: orange;
}

.confirm:hover {
    background-color: rgb(209, 116, 2);
}
/* footer */
footer {
    position: static;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    
}

footer button {
    margin: 5px;
    padding: 1% 1%;
    font-size: 20px;
    font-family: var(--font-main) !important;
}

/*footer order*/
#drop {
    order: 1;
}
#copyright {
    order: 2;
}
#trade {
    order: 3;
}
/* logo container */
.home_logo_container {
    align-self: flex-start;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}

/* nav and search boxes */
.nav-box, .search-box {
    
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5%;
}
.search-box{
    width: 50%
}
.user-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    
}

/* profile, crate, logout buttons */
.profile-btn, .crates-btn, .logout-btn {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #000;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;

}

/* For Shrunken Windows and Phone Display */
@media (max-width: 800px) {
    header, footer {
        flex-direction: column;
        text-align: center;
        
    }
    .profile-btn, .crates-btn {
        width: 200px;
    }
    .nav-box{
        width: 100%;
        gap: 10%;
        flex-direction: row;
        justify-content: center;
    }
    .user-box {
        width: 70%;
    }
    .search-box {
        width: 90%;
    }

    footer {
        flex-direction: row;
        padding: 15px;
    }
    .popup {
        max-width: 80%;
        padding: 15px;
    }

    
    
}

@media (max-width: 460px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .nav-box {
        
        gap: 5px;
    }

    .search-bar {
        width: 100%;
    }
    .logout-btn {
        padding: 6px 10px;
    }
    .profile-btn, .crates-btn{
        padding: 10px 10px;
    }
    #drop, #trade {
        height: 50px;
        
    }
    
    #drop {
        order: 1;
    }
    #trade {
        order: 2;
    }
    #copyright {
        order: 3;
        margin: 20px auto;
    }
    footer {
        text-align: center;
    }
    
    footer  button {
        width: 35%;
        padding: 0;
    }
}
