body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
}

/* body content*/
.container {
    padding: 2em;
    padding-top: 10%;
    font-size: 1.5em;
    max-width: 90%;
    min-height: 4em;
    height: 81vh;
    justify-content: center;
}

/*search content*/
.user-search {
    width: 100%;
    max-width: 30em;
    padding: .5em;
    font-size: .8em;
    border-radius: .5em;
}

.search-button {
    border-radius: .5em;
    background-color: var(--secondary-color);
    color: #EFF1F3;
    padding: .3em;
    display: block;
    margin: .5em auto;
    width: 6em;
    font-family: var(--font-main);
}




/* smaller windows */
@media (max-width: 768px) {
   

    .nav-box {
        flex-direction: column;
    }

    .user-box {
        text-align: center;
    }

    .container {
        font-size: 1.5em;
        padding-top: 10%;
    }
    .home_logo_container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .search-button {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 1em;
    }

    .container {
        font-size: 1.2em;
    }

}
