body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
}

/* body content*/
.container {
    padding: 20px;
    padding-top: 10%;
    font-size: 24px;
    max-width: 90%;
    min-height: 450px;
    height: 81vh;
    justify-content: center;
}

/*search content*/
.user-search {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}

.search-button {
    font-size: 20px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: #EFF1F3;
    padding: 10px;
    display: block;
    margin: 10px auto;
    width: 150px;
    font-family: var(--font-main);
}




/* smaller windows */
@media (max-width: 768px) {
   

    .nav-box {
        flex-direction: column;
        gap: 5px;
    }

    .user-box {
        text-align: center;
    }

    .container {
        font-size: 20px;
        padding-top: 10%;
    }
    .home_logo_container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .search-button {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 80px;
    }

    .container {
        font-size: 18px;
    }

}
