body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    background-color: #D8B4A0;
    color: #223843;
}
.container {
    padding: 20px;
    padding-top: 10%;
    font-size: 30px;
}
.user-search {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: inline-block;
    width: 200px;
}

