body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-secondary);
    background-color: var(--primary-color);
    color: var(--text-color);
    background-image: var(--background-gradient);
    
}
/*Viewing/ Selling an Item Page*/
.container {
    padding: 1em;
    min-height: 84vh;
}
/*total page flex box*/
.item-inspection {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

/* item img */
.item-image {
    width: 30em;
    height: 30em;
    object-fit: cover;
    background: gray;
    display: block;
    border-radius: 1em;
}

/* holds item data */
.info-box {
    border: 1px solid #000;
    text-align: left;
    padding: 1em;
    justify-self: end;
    max-width: 15em;
    min-height: 1em;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    font-size: 1.5em;
}

/* sell button */
.sell-btn {
    background: red;
    color: white;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease, transform 0.2s ease;
    border-radius: .5em;
    font-family: var(--font-main);
}

.sell-btn:hover {
    background: darkred;
    transform: scale(1.05);
}

/*ads*/
.ad-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 1em;
    flex-wrap: wrap;
}
.ad-container img{
    width: 20em;
    height: 20em;
    background: rgb(146, 90, 90);
    display: inline-block;
   
}


/* mobile design */
@media (max-width: 1300px) {
  
    .item-inspection {
        flex-direction: column;
        text-align: center;
    }

    .info-box {
        width: 70%;
        min-width: auto;
        text-align: center;
        margin: 1em auto;
    }

    .sell-btn {
        width: 100%;
    }

    .item-inspection .ad-container {
        flex-direction: row; /* Change direction when wrapped */
        justify-content: center;
    }

}
