body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D8B4A0;
    color: #223843;
}
.header, .footer {
    background: #454545;
    color: #EFF1F3;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link use the surrounding text color */
}
button {
    background: #223843;
    border: 1px solid #000;
    color: #EFF1F3;
    padding: 5px 10px;
}
.search-bar {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
}
.logo {
    width: 50px;
    height: 50px;
    background: gray;
    display: inline-block;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.popup button {
    margin-top: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.footer button{
    margin: 15px;
}
.home_logo_container{
    align-self: center;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}
.profile-btn, .crates-btn, .logout-btn {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000;
    background: #223843;
    cursor: pointer;
}

.container {
    padding: 20px;
}
.search-bar, .user-search {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
}

.home_logo_container{
    align-self: center;
    display: flex;
}

.crate-grid {
    display: grid;
    grid-template-columns: repeat(3,  minmax(150px, 1fr));
    max-width: 75%;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0 auto;
    gap: 10px;
    margin-top: 20px;
    background: #454545;
    padding: 20px;
    border-radius: 10px;
}
.crate {
    border: 2px solid rgb(0, 0, 0);
    padding: 50px 20px;
    background: #fceeee;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
