body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
}
.container {
    padding: 20px;
    height: 84vh;
}
.search-bar, .user-search {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
}

.home_logo_container{
    align-self: center;
    display: flex;
}

.crate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(200px, 1fr));
    max-width: 75%;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0 auto;
    gap: 10px;
    margin-top: 20px;
    background: var(--tertiary-color);
    padding: 20px;
    border-radius: 10px;
}
li img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 150px;
    height:150px;
    background: #fceeee;
    text-align: center;
    margin: auto;
    
}
li {
    display: flex;
    flex-direction: column;
    background-color: var(--crate-background);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}
li button{
    margin: auto;
    background-color: #bb0909;
    border-radius: 5px;
    width: 140px;
    font-family: var(--font-main);
    font-size: 20px;
}