body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
}
/*grid of crates page*/
.container {
    padding: 20px;
    height: 84vh;
}
.content-header{
    text-align: left;
    margin: 0 auto;
    max-width: calc(250px * 4 + 10px * 3);
}
/*grid box of crates*/
.crate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
    max-width: calc(250px * 4 + 10px * 3);
    width: auto;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0 auto;
    gap: 10px;
    margin-top: 20px;
    background: var(--tertiary-color);
    padding: 20px;
    border-radius: 10px;
}
/*crate list element*/
li {
    display: flex;
    flex-direction: column;
    background-color: var(--crate-background);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: auto;
}
li img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 150px;
    height:150px;
    background: #fceeee;
    text-align: center;
    margin: auto;
    
}
li button{
    margin: auto;
    background-color: #bb0909;
    border-radius: 5px;
    width: 140px;
    font-family: var(--font-main);
    font-size: 20px;
}

/*no need for media query*/