body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
}

/* body content*/
.container {
    padding: 1em;
    padding-top: 10%;
    font-size: 1.5em;
    max-width: 90%;
    min-height: 30em;
    height: 81vh;
    display: flex;
    flex-direction: column;
}