.skin-body {
    background: rgba(0, 0, 0, 0.5);
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-secondary);
    position: fixed;
} 

.modal {
    padding: 1em;
    border-radius: 1em;
    width: 23em;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%; 
    background-color: var(--tertiary-color);
    justify-content: center;
    align-items: center;
    
}
.modal h2 {
    margin: .5em 0;
}
.item-inspection {
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.item-image {
    width: 20em;
    height: 20em;
    object-fit: cover;
    background: gray;
    display: block;
    border-radius: 1em;
}

/* holds item data */
.info-box {
    border: 1px solid #000;
    align-items: center;
    padding: 1em;
    justify-self: end;
    max-width: 15em;
    min-height: 1em;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    font-size: 1.5em;
    
}
.sell-btn {
    background: red;
    margin: auto;
    color: white;
    padding: 1em 2em;
    
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease, transform 0.2s ease;
    border-radius: .5em;
    font-family: var(--font-main);
}

.sell-btn:hover {
    background: darkred;
    transform: scale(1.05);
}

.confirm {
    background-color: orange;
}

.confirm:hover {
    background-color: rgb(209, 116, 2);
}