body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
    font-family: var(--font-secondary);
}
/*body container*/
.container {
    padding: 20px;
    min-height: 80vh;
    border-radius: 10px;
}
/*picture of chosen crate*/
#crate-pic{
    width: 200px;
    height: 200px;
}
/*container that holds skins and will rotate through them*/
.spin-container {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid black;
    background-color: var(--tertiary-color);
    padding: 10px;
    width: 80%;
}
/*the box that actually rotates through the container*/
.spin-box {
    display: flex;
    transition: transform 5s ease-out;
}
.spin-container img {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background: #fceeee;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/*spin the wheel button*/
button {
    font-family: var(--font-main);
    font-size: 28px;;
    padding: 20px;
}