body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
    font-family: var(--font-secondary);
}
/*body container*/
.container {
    padding: 1em;
    min-height: 80vh;
    border-radius: 1em;
}
/*picture of chosen crate*/
#crate-pic{
    width: 15em;
    height: 15em;
    margin: 0 auto;
    border-radius: 1em;
}
/*container that holds skins and will rotate through them*/

/*the box that actually rotates through the container*/
.spin-box {
    overflow: hidden;
    white-space: nowrap;
    width: 60vw;
    height: 22.5vw;;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em 0;
    border-radius: 1em;
    background-color: var(--tertiary-color);
}
.spin-box img {
    width: 20vw;
    height: 20vw;
    margin: .5em;
    background-position: center;
    background-size: cover;
}
/*spin the wheel button*/
button {
    font-family: var(--font-main);
    font-size: 2em;;
    padding: .5em;
}

.owned {border: 2px solid rgb(0, 255, 64);}