body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-secondary);
}

.container {
    padding: 20px;
    min-height: 80vh;
    border-radius: 10px;
}
.spin-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #532c17;
    padding: 10px;
    width: 80%;
}
.spin-box {
    display: flex;
    transition: transform 5s ease-out;
}
.skin {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background: #fceeee;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.skin img {
    width: 150px;
    height: 150px;
}
button {
    font-family: var(--font-secondary);
    padding: 20px;
}