body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    background-image: var(--background-gradient);
    color: var(--text-color);
    font-family: var(--font-secondary);
}
/*main content*/
.container {
    min-height: 80vh;
    overflow: auto;
    border-radius: 0.8em;
    margin-bottom: 2em;
}

.trading-section {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin-top: 1em;
    color: var(--secondary-color);
}
/*seperates personal and other user inventory*/
.inventory-container{
    display:flex;
    flex-direction: column;
    width: 40%;
}
/*container for all trading visuals*/
.trade-box {
    border: 2px solid black;
    border-radius: .7em;
    padding: .5em;
    background: #f0f0f0;
    text-align: center;
}
/*box of skins chosen to be offered*/
.offer-box{
    display:flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    height: 10em;
    gap: 1em;
}

/*grid for skins in a users*/
.skins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 6em);
    gap: 1em;
    padding: 1em;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 34.5vh;
    
}

/*skin container and img*/
.skin-container {
    position: relative;
    display: inline-block;
    width: 6.5em;
    height: 6.5em;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s;
}

.skin-container img {
    min-width: 6em;
    max-width: 6em;
    min-height: 6em;
    max-height: 6em;
    margin: .5em;
    background: rgb(138, 138, 138);
    border: 2px solid black;
}

/* check box */
.skin-container input[type="checkbox"] {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 1em;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox {
    position: absolute;
    top: .6em;
    left: 5.2em;
    width: 1.2em;
    height: 1.2em;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(87, 87, 87);
    border-radius: .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
/*after click, put check*/
.custom-checkbox::after {
    content: "✔";
    font-size: 1em;
    color: white;
    display: none;
}

/* highlight item when clicked */
.skin-container input[type="checkbox"]:checked ~ img {
    border: 3px solid var(--secondary-color);
}
/* box checked*/
.skin-container input[type="checkbox"]:checked + .custom-checkbox {
    background: var(--primary-color);
    border-color: black;
}
/*display for checkbox*/
.skin-container input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

/* bottom button for trading */
.trade-button {
    margin-top: 1em;
    padding: .5em 1em;
    font-size: 2em;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    font-family: var(--font-main);
}

/* for smaller window */
@media (max-width: 768px) {
    .trading-section {
        flex-direction: column;
        
    }
    .inventory-container{
        width: 75%;
        margin: 0 auto;
    }
}