body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-secondary);
}
/*main content*/
.container {
    min-height: 80vh;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.trading-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}
/*seperates personal and other user inventory*/
.inventory-container{
    display:flex;
    flex-direction: column;
    width: 40%;
}
/*container for all trading visuals*/
.trade-box {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background: #f0f0f0;
    text-align: center;
    
}
.offer-box{
    display:flex;
    overflow-x: scroll;
    scrollbar-width: thin;
}
.skins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 34.5vh;
}
/*skin icons*/
.skin {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    margin: 5px;
    background: lightgray;
    border: 2px solid black;
}
.trade-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .trading-section {
        flex-direction: column;
        
    }
    .inventory-container{
        width: 75%;
        margin: 0 auto;
    }
}